.imgrow{
    &:not([class*="is-leaf"]){
        :global{
            .cell{
                display: flex;
                justify-content: center;
                overflow: visible!important;
                line-height:normal!important;
                padding-left: 0!important;
                padding-right:0!important;
                cursor: pointer;
                .img_item{
                    width: 50px;
                    height: 30px;
                    .el-image{
                        max-width: 100%;
                        max-height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .preview{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .el-icon-view{
                        visibility: hidden;
                    }
                    &:hover{
                        background-color: rgba(0,0,0,.5);
                        .el-icon-view{
                            visibility: visible;
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
}